<div class="card bg-dark text-white">
    <img src="assets\images\backGroundHome4.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="display-1">INMOBILIARIA REAL HOUSE</h5>
        <div class="options">
            <div>
                <button class="cardsOptions">Ver listado de inmuebles</button>
            </div>
            <div>
                <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="cardsOptions">Ingresar con usuario</button>
            </div>
        </div>
    </div>
</div>